.search {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 140px;
}

.search__button {
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 5px;
  background-color: #323232;
  background-image: url("../../assets/images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
}

.search__input {
  border-radius: 5px;
  margin-right: 20px;
  padding: 8px;
  font-size: 20px;
  width: 100%;
  border: 0.5px solid #C7BABB;
  background-color: #323232;
  color: #4A0F14;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
